body {
  background-color: #121212;
}

.full-page {
  display: flex;
}

.main-section {
  width: 80%;
  border-right: 1px solid white;
}

h1, h2, p {
  color: white;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.25rem 0;
  width: 100%
}

.header-spacing, .background {
  width: 8rem;
  margin: 0 12%;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-radius: 10%;
  outline: none;
  animation: wheelHueColor 10s infinite;
  background-color: currentColor;
}

.generate-btn {
  font-size: 14px;
}

@supports (background-blend-mode: overlay) {
  .background {
    background-image: linear-gradient(45deg, white 10%, black 90%);
    background-blend-mode: overlay;
  }
}
@keyframes wheelHueColor {
  from, to { color: hsl(324, 70%, 45%); }
  10%      { color: hsl(360, 65%, 45%); }
  20%      { color: hsl( 36, 80%, 45%); }
  30%      { color: hsl( 72, 75%, 35%); }
  40%      { color: hsl(108, 65%, 35%); }
  50%      { color: hsl(144, 75%, 35%); }
  60%      { color: hsl(180, 75%, 35%); }
  70%      { color: hsl(216, 60%, 45%); }
  80%      { color: hsl(252, 65%, 50%); }
  90%      { color: hsl(288, 60%, 40%); }
}

button:hover, .background:hover, .generate-btn {
  cursor: pointer;
}

.generated-palettes {
  height: 50vh;
  display: flex;
  justify-content: center;
}

.palette {
  width: 15%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: .025px solid black;
}

.lock-img {
  margin-bottom: 5%;
}

.lock-img:hover {
  cursor: pointer;
}

.hide-png {
  display: none;
}

.hex-codes {
  display: flex;
  justify-content: center;
}

.hex {
  align-items: center;
  display: flex;
  width: 15%;
  justify-content: space-around;
  margin: .25rem 0;
}

.bottom-section {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  width: 100%;
}

.form-container {
  height: 33vh;
  width: 37%;
  border-right: 1px solid white;
  padding-right: 2.5%;
}

.save-palette {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palette-name {
  width: 98%;
  margin: 3vh 0 1.5vh 0;
}

.palette-spacing {
  margin-top: .5rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.project-selector {
  width: 50%;
}

.save-palette-btn {
  width: 50%;
}

.save-project {
  width: 37%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  width: 90%;
}

.project-name {
  margin-top: .5rem;
  width: 100%;
}

.save-project-btn {
  width: 50%;
  margin-top: 1.25rem;
}

.projects-container {
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
