body {
  background-color: #121212;
}

.full-page {
  display: flex;
  width: 100%;
}

.main-section {
  width: 80%;
  border-right: 1px solid white;
}

h1, h2, p {
  color: white;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.25rem 0;
}

.header-spacing, .generate-btn {
  width: 8rem;
  margin: 0 8%;
}

.generate-btn {
  height: 3rem;
  border-radius: 10%;
  outline: none;
  color: white;
}

.generate-btn:hover {
  cursor: pointer;
}

.generated-palettes {
  height: 30vh;
  display: flex;
  justify-content: center;
}

.palette {
  width: 15%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.lock-img {
  margin-bottom: 5%;
}

.lock-img:hover {
  cursor: pointer;
}

.hide-png {
  display: none;
}

.hex-codes {
  display: flex;
  justify-content: center;
}

.hex {
  align-items: center;
  display: flex;
  width: 15%;
  justify-content: space-around;
  margin: .25rem 0;
}

.bottom-section {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

.form-container {
  height: 50vh;
  width: 35%;
  border-right: 1px solid white;
  padding-right: 2.5%;
}

.save-palette {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palette-name {
  width: 98%;
  margin: 3vh 0 1.5vh 0;
}

.palette-spacing {
  margin-top: .5rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid white;
  text-align: center;
  width: 100%;
}

.project-selector {
  width: 50%;
}

.save-palette-btn {
  width: 50%;
}

.save-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-header {
  margin-top: 3rem;
}

.project-form {
  display: flex;
  margin-top: 1rem;
  width: 100%;
}

.project-name {
  width: 80%;
}

.save-project-btn {
  width: 20%;
}

.projects-container {
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
